.floating-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Bu stil sayfanın genel tasarımını özelleştirmek için kullanılabilir */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 2em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}

.book {
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

.book-image {
    max-width: 100px;
    margin-right: 1em;
}

.book-description {
    flex: 1;
}

.book-description h2 {
    margin-top: 0;
}

.book-description p {
    margin: 0;
}

